

.hero-image{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(images/cortada.png) no-repeat center;
    background-size: cover;
}

.container-hero{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.container-hero h1{
    font-size: 72px;
    letter-spacing: 0.2em;
    margin: 0;
}

.container-hero h1 span{
    border: 10px solid white;
    padding: 6px 14px;
    display: inline-block;
}

.des{
    margin: 20px;
    display: block;
    font-size: 26px;
    text-shadow: 0 0 10px black;
}


.boton{
    color: #313131;
    padding: 10px 24px;
    font-size: 20px;
    text-decoration: none !important;
    background: #f1f1f1;
    border-radius: 8px;
    transform: 0.3 all;
}

.boton:hover{
    opacity: 0.8;
    color: #313131;
}